.sidebar a:hover,
.sidebar a:focus,
.sidebar a:active {
    color: white;
}

.sidebar {
    min-height: 100vh;
    width: min-content;
    overflow-y: auto;
}

.sidebar a {
    color: white;
}

html {
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

main {
    background-color: #b50000;
}

.header,
.main-content {
    background-color: white;
}

a {
    color: white;
}